# Python
__pycache__/
*.pyc

# data & results
test_data/
experiments/
*.csv
*.xlsx
*.json

# Jupyter Notebook
.ipynb_checkpoints

# etc
*.zip
*.tar.gz
.venv/
clf/.venv/
yolo/.venv/
gradio-venv/
flagged/
weights/

# YOLO
/yolo/datasets
/yolo/weights
/yolo/runs
/yolo/inference_imgs

# Classification
/clf/dataset